/* CSS */
*{
	padding: 0;
	margin: 0;
}

html, body {

}

body {
	background: black;
	color: whitesmoke;
}

.cabe {
	text-align: center;
}

.logo {
	width:165px;
}

.section {
	margin-top: 5px;
	letter-spacing: 1px;
	text-align: center;
	font-size: 19px;
	background: transparent;
	color: #dad7bd;
	width: 225px;
	height: 300px;
	padding: 10px;
	border-radius: 5px;
	display: block;
	margin-left: auto; /* PARA CENTRAR LA CAJA*/
	margin-right: auto;/* PONER LEFT Y RIGHT*/
}

footer {
	text-align: center;
	letter-spacing: 1px;
}

@media screen and (min-width: 768px) {

	header {
		height: 60px;
	}

	.logo {
		width:300px;
	}

	.section {
		 	font-size: 22px;
		 	width: 600px;
		 }

	 
}



