/* CSS */
*{
	padding: 0;
	margin: 0;
}

html, body {
	
}

body {
	background: #202020;
	color: white;
	font-size: 23px;
}

.cabe {
	text-align: center;
}

.logo {
	width:200px;
	height: 150px;
}

.section {
	font-family: courier;
	margin-top: 5px;
	letter-spacing: 1px;
	text-align: center;
	font-size: 25px;
	background: transparent;
	color: white;
	width: 225px;
	height: auto;
	padding: 10px;
	border-radius: 5px;
	display: block;
	margin-left: auto; /* PARA CENTRAR LA CAJA*/
	margin-right: auto;/* PONER LEFT Y RIGHT*/
}

.sectionTwo {
	font-family: courier;
	margin-top: 5px;
	letter-spacing: 1px;
	text-align: center;
	font-size: 25px;
	background: transparent;
	color: white;
	width: 225px;
	height: 300px;
	padding: 10px;
	border-radius: 5px;
	display: block;
	margin-left: auto; /* PARA CENTRAR LA CAJA*/
	margin-right: auto;/* PONER LEFT Y RIGHT*/
}

footer {
	text-align: center;
	letter-spacing: 1px;
}

@media screen and (min-width: 768px) {

	header {
		height: 60px;
	}

	.logo {
		width:350px;
		height: 200px;
	}

	.section {
		 	font-size: 22px;
		 	width: 600px;
		 }

	.sectionTwo {
		font-size: 18px;
		width: 600px;
	}

	 
}



